<%- include('./partials/header'); -%>

 


   <h1 class="bg-success text-white p-2 shadow-sm p-3   rounded"">Welcome</h1>
   <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>

   

<%- include('message') %>
   <div class="container my-10">
    <h1>Node.js Authentication</h1>
   </div>
   <div>
    
   </div>

   <%- include('./partials/footer'); -%>


  
