
<%- include('./partials/header'); -%>

    <h1 class=" bg-primary text-white p-2 shadow-sm p-3 rounded">reset password</h1>

    <%- include('message') %>
    <div class=" mt-5 w-25 p-3 border rounded mx-auto shadow p-3 mb-5 bg-white rounded style="width: 200px; ">
      <h3 class="text-center mb-5 text-primary">Reset Password</h3>
        <form action=""  method="post" >
          
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword" name="password" required>
              </div>

            
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password2" required >
              </div>
              <button type="submit" class="btn btn-primary">submit</button>
           
        </form>

      </div>

      <%- include('./partials/footer'); -%>